<%- include ("../../partials/header") %>

<main class="site-content">

    <center>
        <%- include ("../../partials/alerts") %>
    </center>

    <div class="table-container">
        <div class="table-header">

            <span class="table-title">Comprobantes - [<%=data.client.internalCode%>] <span style="font-weight: bold;"><%=data.client.name%></span></span>
            <div class="preloader-wrapper small active" id="progress" style="margin-left: 30px;">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="switch">
                    <label> Mostrar todos los estados <input id="swStatus" type="checkbox" onchange="reloadPage();" <% if(params.showAll===true){%> checked <% } %>>
                        <span class="lever"></span></label>
                </div>
                <div class="switch">
                    <label> Refrescar automáticamente <input id="swRefresh" type="checkbox" onchange="autoRefresh(this);" <% if(params.autoRefresh===true){%> checked <%}%>>
                        <span class="lever"></span></label>
                </div>

                <button id="button-reload" onClick="window.location.reload();"
                    class="waves-effect btn-flat nopadding"><i class="material-icons">refresh</i></button>

                <a href="/expenses/paymentReceipts/client/<%=data.client.id%>/new" id="button-add" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">add_box</i></a>

                <a href="#" id="button-search" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
            </div>
            </div>
            <div id="hide-dt" style="display:none">
                <table id="datatable" class="table display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Proveedor</th>
                            <th>Factura</th>
                            <th>Importe</th>
                            <th>Detalles</th>
                            <th>Fecha</th>
                            <th>Grupo de Cuentas</th>
                            <th>Imputacion Contable</th>
                            <th>Periodo</th>
                            <th>Estado</th>
                            <th>Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.paymentReceipts.length; i++) { %>
                        <tr data-id="<%= data.paymentReceipts[i].id %>">
                            <td><%= data.paymentReceipts[i].id %></td>
                            <td><a class="blue-text" href="/suppliers/info/<%= data.paymentReceipts[i].supplier.id %>"><%= data.paymentReceipts[i].supplier.name %>
                                </a>
                            </td>
                            <td>(<%=data.paymentReceipts[i].receiptType.receiptType%>)
                                <%=data.paymentReceipts[i].receiptNumber%>
                            </td>
                            <td>$<%= data.paymentReceipts[i].amount %></td>
                            <td><%= data.paymentReceipts[i].description %></td>
                            <td><%= data.paymentReceipts[i].emissionDate %></td>
                            <td><%= data.paymentReceipts[i].accountingImputation.accountingGroup.name %></td>
                            <td><%= data.paymentReceipts[i].accountingImputation.name %></td>

                            <td>
                                <% if(data.paymentReceipts[i].billingPeriod.statusId === 0) { %>
                                <i class="material-icons">calendar_today</i>
                                <% } %>
                                <% if(data.paymentReceipts[i].billingPeriod.statusId=== 1) { %>
                                <i class="material-icons">lock_open</i>
                                <% } %>
                                <% if(data.paymentReceipts[i].billingPeriod.statusId === 2) { %>
                                <i class="material-icons">lock</i>
                                <% } %>
                                <% if(data.paymentReceipts[i].billingPeriod.statusId === 3) { %>
                                <i class="material-icons">cancel</i>
                                <% } %>

                                <a href="/periods/<%=data.client.id%>"><span style="padding-left: 10px; vertical-align: 8px;"><%= data.paymentReceipts[i].billingPeriod.name %></span></a>
                            </td>

                            <td>
                                <!--DESHABILITADO-->
                                <% if(data.paymentReceipts[i].statusId === 0) { %>
                                <i class="material-icons">disabled_by_default</i>
                                <% } %>

                                <!--PENDIENTE-->
                                <% if(data.paymentReceipts[i].statusId === 1) { %>
                                <i class="material-icons">assignment</i>
                                <% } %>

                                <!--EN_PROCESO-->
                                <% if(data.paymentReceipts[i].statusId === 2) { %>
                                <i class="material-icons">assignment_ind</i>
                                <% } %>

                                <!--PROCESADO-->
                                <% if(data.paymentReceipts[i].statusId === 3) { %>
                                <i class="material-icons">assignment_turned_in</i>
                                <% } %>

                                <!--ANULADO-->
                                <% if(data.paymentReceipts[i].statusId === 4) { %>
                                <i class="material-icons">assignment_returned</i>
                                <% } %>

                                <!--PAUSADO-->
                                <% if(data.paymentReceipts[i].statusId === 5) { %>
                                <i class="material-icons">pending</i>
                                <% } %>
                                <span style="padding-left: 10px; vertical-align: 8px;"><%= data.paymentReceipts[i].status %></span>
                            </td>

                            <!-- <td><%#= data.paymentReceipts[i].status %></td> -->

                            <td><%= data.paymentReceipts[i].user.name %></td>

                            <td>
                                <% if(data.paymentReceipts[i].statusId === 1) { %>
                                <a href="/expenses/paymentReceipts/edit/<%= data.paymentReceipts[i].id%>" class="btn-flat btn-small waves-effect waves-light">
                                    <i class="material-icons">edit</i></a>
                                <% } %>

                                <% if((data.paymentReceipts[i].statusId === 1)||(data.paymentReceipts[i].statusId === 2)) { %>
                                    <a href="/expenses/paymentReceipts/client/<%= data.client.id %>/createPaymentOrder/<%= data.paymentReceipts[i].id%>" class="btn-flat btn-small waves-effect waves-light">
                                        <i class="material-icons">check_circle</i></a>
                                <% } %>

                                <a id="buttonDownload" class="btn-flat btn-small waves-effect waves-light" data-id="<%=data.paymentReceipts[i].id%>" data-value="<%= data.paymentReceipts[i].receiptNumber %>"><i class="material-icons">cloud_download</i></a>

                                <% if(data.paymentReceipts[i].statusId === 1) { %>
                                    <a id="buttonDelete" class="btn-flat btn-small waves-effect waves-light" data-id="<%=data.paymentReceipts[i].id%>" data-value="<%= data.paymentReceipts[i].receiptNumber %>" onclick="deleteDialog(this)"><i class="material-icons">delete</i></a>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
            <div class="row center-align" style="font-size:small" id="lastUpdate"></div>
        </div>

        <input type="hidden" name="clientId" id="clientId" value=<%=data.client.id%> />
        <input type="hidden" name="periodId" id="periodId" value=<%=data.periods%> />

</main>

<%- include ("../../partials/footer") %>

<script>

    var handler = 0;

    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems, {})

        document.getElementById('lastUpdate').textContent = 'Ultima actualizacion ' + Date();

        if (htmlDecode("<%= params.autoRefresh %>") === 'true') {
            handler = enableAutoRefresh();
        }

    });

    function autoRefresh(e) {
        if (e.checked === true) {
            reloadPage(); //handler = enableAutoRefresh();
        } else {
            disableAutoRefresh(handler);
        }
    }

    function enableAutoRefresh() {
        return setTimeout(function () { reloadPage(); }, (1 * 60 * 1000))
    }

    function disableAutoRefresh(handler) {
        if (handler) {
            clearTimeout(handler);
            timer = 0;
        }
    }

    function deleteDialog(button) {
        var _elem = document.getElementById('modalDeleteClient');
        var modal = M.Modal.getInstance(_elem);
        const message = `[ID: ${button.dataset.id}] - ${button.dataset.value}`
        document.getElementById('modalDeleteMessage').textContent = message;
        document.getElementById('modalDeleteClientId').value = button.dataset.id;
        modal.open();
    };

    function reloadPage() {
        const swRefresh = document.getElementById('swRefresh').checked;
        const swStatus = document.getElementById('swStatus').checked;
        const clientId = document.getElementById('clientId').value;
        const periodId = document.getElementById('periodId').value;

        const redirectUrl = '/expenses/paymentReceipts?refresh=' + swRefresh + '&' + 'showAll=' + swStatus;

        var form = $('<form action="' + redirectUrl + '" method="post">' +
            '<input type="hidden" name="clientId" value="' + clientId + '"></input>' +
            '<input type="hidden" name="periodId" value="' + periodId + '"></input>' +
            '</form>');

        $('body').append(form);
        $(form).submit();
    }

    $(document).ready(function () {

        $('.search-toggle').click(function () {
            if ($('.hiddensearch').css('display') == 'none')
                $('.hiddensearch').slideDown();
            else
                $('.hiddensearch').slideUp();
        });

        var table = $('#datatable').dataTable({
            dom: "<'hiddensearch'f'>tr<'table-footer'Blip'>",
            oLanguage: {
                sSearch: '',
                sSearchPlaceholder: 'Escriba aqui su búsqueda',
                sInfo: '_START_ -_END_ de _TOTAL_',
                sLengthMenu: '<span style="margin-left:20px">Filas por página:</span><select class="browser-default">' +
                    '<option value="200">200</option>' +
                    '<option value="500">500</option>' +
                    '<option value="1000">1000</option>' +
                    '<option value="-1">Todos</option>' +
                    '</select></div>'
            },
            columnDefs: [
                {
                    targets: -1,
                    searchable: false,
                    sortable: false,
                    className: "left-align",
                },
                {
                    className: "center-align",
                    targets: 0
                },
                {
                    targets: 3,
                    type: 'currency',
                },
                {
                    targets: 4,
                    visible: true,
                    searchable: false,
                    render: $.fn.dataTable.render.ellipsis(32, true)
                    // render: function (data, type, full, meta) {
                    //     return type === 'display' ? '<div title="' + full.description + '">' + data : data;
                    // }
                }
            ],

            colReorder: true,
            fixedColumns: {
                leftColumns: 3
            },
            pageLength: 200,
            order: [[0, 'asc']],
            autowidth: true,
            scrollY: '500px',
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Columnas',
                },
                {
                    extend: 'print',
                    className: '',
                    title: '',
                    // autoPrint: false,
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<h4>Title Test</h4>',
                            );
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit',);
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible(th:not(:last-child))',
                        search: 'applied',
                        order: 'applied'
                    },
                    customize: function (xlsx) {
                        var source = xlsx.xl['workbook.xml'].getElementsByTagName('sheet')[0];
                        source.setAttribute('name', 'Clientes');
                    }
                },
                { extend: 'csvHtml5' },
                { extend: 'copyHtml5' },
                {
                    text: 'PDF',   //https://codepen.io/vaucher/pen/wjwdMK
                    extend: 'pdfHtml5',
                    filename: 'clients',
                    orientation: 'landscape',     //portrait
                    pageSize: 'A4',               //A3 , A5 , A6 , legal , letter
                    exportOptions: {
                        columns: ':visible',
                        search: 'applied',
                        order: 'applied'
                    }
                }
            ],
            fnInitComplete: function () {
                $('#hide-dt').show();
                $('#progress').hide();
            },
            // "footerCallback": function (row, data, start, end, display) {
            //     var api = this.api();
            //     $(api.column(4).footer()).html('prueba');
            // }
        });
    });
</script>