<%- include ("../partials/header") %>

<main class="site-content">
    <div class="container" style="margin-top: 50px;">
        <form id="splittedChecksForm" class="col s12" method="post" action='/checks/split/new/<%=data.check.id%>'>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Crear una nueva subdivisión de cheque</span>
                    <div class="row" style="margin-top: 20px;">
                        <div class="input-field col s9">
                            <i class="material-icons prefix">home</i>
                            <input id="client" name="client" type="text" value="<%=data.check.client.name%> [<%=data.check.client.internalCode%>]" disabled />
                            <label for="name">Nombre del Barrio</label>
                            <input type="hidden" name="clientId" id="clientId" value="<%=data.check.client.id%>" />
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">calendar_today</i>
                            <input id="billingPeriod" name="billingPeriod" type="text" value="<%=data.check.billingPeriod.name%>" disabled />
                            <label for="billingPeriod">Período de Liquidación</label>
                            <input type="hidden" name="billingPeriodId" id="billingPeriodId" value="<%=data.check.billingPeriod.id%>" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8">
                            <i class="material-icons-outlined prefix">account_balance</i>
                            <input id="bank" name="bank" type="text" value="<%= data.check.bank.name %>" readonly />
                            <label for="bank">Banco</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons-outlined prefix">info</i>
                            <input id="checkNumber" name="checkNumber" type="text" value="<%= data.check.number %>" readonly />
                            <label for="checkNumber">Número de Cheque</label>
                        </div>

                        <input type="hidden" name="checkId" id="checkId" value="<%=data.check.id%>" />

                    </div>

                    <div class="row">
                        <div class="input-field col s3">
                            <i class="material-icons-outlined prefix">source</i>
                            <select id="typeSelect" required>
                                <option value="0" disabled selected>Seleccione el tipo</option>
                                <option value="I">Cobranza</option>
                                <option value="O">Orden de Pago</option>
                            </select>
                            <label>Tipo</label>
                            <input type="hidden" name="splitType" id="splitType" />
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons-outlined prefix">monetization_on</i>
                            <input id="totalAmmount" name="totalAmmount" type="text" value="$<%= data.check.ammount %>" readonly />
                            <label for="totalAmmount">Importe Total</label>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons-outlined prefix">monetization_on</i>
                            <input id="remainingAmmount" name="remainingAmmount" type="text" value="$ 0.00" readonly />
                            <label for="remainingAmmount">Importe Remanente</label>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons-outlined prefix">monetization_on</i>
                            <input id="partialAmmount" name="partialAmmount" type="number" min="0.01" step="0.01" class="validate" required />
                            <label for="partialAmmount">Importe Parcial</label>
                        </div>
                    </div>

                    <div class="row" id="autocompleteDiv" hidden >
                        <div id="autocompleteInput" class="input-field col s12" autocomplete="chrome-off">
                            <i class="material-icons prefix">home</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Ingrese el nombre del propietario o la propiedad</label>
                            <input type="hidden" name="homeOwnerId" id="homeOwnerId" value="" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons-outlined prefix">comments</i>
                            <textarea id="comments" name="comments" class="materialize-textarea"></textarea>
                            <label for="comments">Comentarios</label>
                        </div>
                    </div>

                    <div class="card-action right-align">
                        <button id="add_button" type='submit' class="waves-effect waves-light btn green"><i class="material-icons right">save</i>Guardar</button>
                        <button action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" class="waves-effect waves-light btn red" style="margin-left: 10px;"><i class="material-icons right">cancel</i>Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</main>

<%- include ("../partials/footer") %>

<script type="text/javascript" src="/javascripts/splittedChecks.js"></script>
<script type="text/javascript" src="/javascripts/homeOwners.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", async function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
        M.CharacterCounter.init(document.getElementById("comments"));

        const remainingAmmount = document.getElementById("remainingAmmount");
        const partialAmmount = document.getElementById("partialAmmount");

        let homeOwners = await getHomeOwnersByClient("<%=data.check.client.id%>");
        let data = {};

        for (i = 0; i < homeOwners.length; i++) {
            data[`${homeOwners[i].property} - ${homeOwners[i].name} [${homeOwners[i].id}]`] = null;
        }

        var elems = document.querySelectorAll('.autocomplete');

        var instances = M.Autocomplete.init(elems, {
            minLength: 1, data: data,
            onAutocomplete: function (e) {
                var matches = e.match(/\[(.*?)\]/);
                if (matches)
                    document.getElementById('homeOwnerId').value = matches[1]
                else
                    document.getElementById('homeOwnerId').value = ''
                
                M.toast({ html: 'se ha seleccionado la propiedad con ID #' + matches[1] });
            }
        });

        document.getElementById("autocompleteInput").addEventListener('input', function(e){
            document.getElementById('homeOwnerId').value = '';
            //M.toast({ html: 'se elimino el id de la propiedad' });
        });

        document.getElementById("typeSelect").addEventListener('change', async (event) => {
            
            const splitType = event.target.value;

            document.getElementById("splitType").value = splitType;
            
            if(splitType==="I"){
                document.getElementById("autocompleteDiv").hidden=false;
            } else {
                document.getElementById("autocompleteDiv").hidden = true;
            }

            let aux = await getCheckRemainingBalance("<%= data.check.id %>", event.target.value);

            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',

                // These options are needed to round to whole numbers if that's what you want.
                //minimumFractionDigits: 0,
                //maximumFractionDigits: 0,
            });

            remainingAmmount.value = formatter.format(aux.remainingBalance).replace(",", "");

            // var formatter = new Intl.NumberFormat('es-AR', {
            //     style: 'currency',
            //     currency: 'ARS',

            //     // These options are needed to round to whole numbers if that's what you want.
            //     //minimumFractionDigits: 0,
            //     //maximumFractionDigits: 0,
            // });

            // remainingAmmount.value = Intl.NumberFormat('en-US', { style: 'decimal' }).format(aux.remainingBalance, {
            //     minimumFractionDigits: 0,
            //     maximumFractionDigits: 2
            // })

            partialAmmount.max = aux.remainingBalance;
            partialAmmount.value = aux.remainingBalance;
            M.updateTextFields();

            if (remainingAmmount.value === "$0.00") {
                alert("No es posible agregar una nueva división al cheque, ya no queda saldo remanente para la opción seleccionada")
            }
        });

        document.getElementById("splittedChecksForm").addEventListener("submit", validateForm, true);

        function validateForm(event) {
            
            if (remainingAmmount.value === "$0.00") {
                alert("No es posible agregar una nueva división al cheque, ya no queda saldo remanente para la opción seleccionada");
                event.preventDefault(); return;
            }

            if((document.getElementById("splitType").value === 'I') && (document.getElementById("homeOwnerId").value === "")) {
                alert("La propiedad seleccionada es invalida o no fue correctamente seleccionada, imposible continuar")
                event.preventDefault(); return;
            }            
        };

    });

</script>