<%- include ("../../../partials/header") %>

<main class="site-content">

    <div class="container" style="margin-top: 50px;">
        <form id="my_form" class="col s12" action="" method="post">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Importación de cobranzas</span>
                    <div class="row" style="margin-top: 20px;">
                        <div class="input-field col s9">
                            <i class="material-icons prefix">location_city</i>
                            <input id="client" name="client" type="text" value="<%=data.client.name%> [<%=data.client.internalCode%>]" disabled />
                            <label for="name">Nombre del Barrio</label>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">calendar_today</i>
                            <input id="billingPeriod" name="billingPeriod" type="text" value="<%=data.period.name%>" disabled />
                            <label for="billingPeriod">Período de Liquidación</label>
                            <input type="hidden" name="billingPeriodId" id="billingPeriodId" value="" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn"><i class="material-icons center">cloud_upload</i>
                                <input type="file" name="attachment" id="attachment">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                                <label>seleccione el archivo de importacion de cobranzas</label>
                            </div>
                        </div>                       
                    </div>

                    <% if(data.active) { %>
                        <h6 class="center-align red-text">hay un proceso de importación activo iniciado por el usuario <%=data.active.user.name%></h6>
                            <p class="center-align" style="font-size:small">para continuar debe forzar el cierre de la sesión, pero eso cancelará el proceso en curso</p>
                    <% } %>

                </div>

                <div class="card-action right-align">
                
                    <% if(data.active) { %>
                        <button id="button-kill" onclick="javascript:killSessions()" class="waves-effect waves-light btn blue" style="margin-right: 10px;">
                            <i class="material-icons right">save</i>Finalizar Sesiones</button>
                    <% } %>

                    <button id="button-submit" class="waves-effect waves-light btn green" style="margin-right: 10px;">
                        <i class="material-icons right">save</i>Guardar</button>
                   
                    <button action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" class="waves-effect waves-light btn red"><i class="material-icons right">cancel</i>Volver</button>
                </div>
            </div>
            
            <input type="hidden" name="clientId" id="clientId" value=<%=data.client.id%> />

        </form>
    </div>
    <center>
        <%- include ("../../../partials/alerts") %>
    </center>
</main>

<%- include ("../../../partials/footer") %>

<script>
        
        document.addEventListener("DOMContentLoaded", function () {
        
            document.getElementById('button-submit').onclick = function(event) {
                const clientId = document.getElementById('clientId').value;
                const url = '/incomes/collections/import/new/' + clientId;
                const form = document.getElementById('my_form')
                form.action = url
                form.enctype = "multipart/form-data"
                form.submit(); //Submit action performed
                return true;
            };

        });

        function killSessions() {
            const url = '/incomes/collections/import/killActiveSessions';
            const form = document.getElementById('my_form')
            form.action = url
            form.submit(); //Submit action performed
            return true;
        };
            
</script>