<%- include ("../partials/header") %>

<main class="site-content">

    <center>
        <%- include ("../partials/alerts") %>
    </center>

    <div class="table-container">
        <div class="table-header">

            <span class="table-title">Listado de Cuentas - [<%=data.client.internalCode%>] <span style="font-weight: bold;"><%=data.client.name%></span>
            </span>
            <div class="preloader-wrapper small active" id="progress" style="margin-left: 30px;">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="switch" style="margin-top: 3px;">
                    <label> Mostrar cuentas eliminadas
                        <input id="swShowDeleted" type="checkbox" onchange="showDeletedAccounts();" <% if(params.showAll===true){ %> checked <% } %>>
                        <span class="lever"></span>
                    </label>
                </div>

                <button id="button-reload" title="actualizar" onClick="window.location.reload();" class="waves-effect btn-flat nopadding"><i class="material-icons">refresh</i></button>
                <a href="/accounts/new/<%=data.client.id%>" id="button-add" title="agregar cuenta" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">add_box</i></a>
                <a href="#" id="button-search" title="buscar" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                <a id="button-accountType" title="agregar tipo de cuenta" class="waves-effect btn-flat nopadding" data-id="<%=data.client.id%>" onclick="addNewAccountTypeDialog(this)"><i class="material-icons">playlist_add</i></a>
            </div>
        </div>

        <div id="hide-dt" style="display:none">
            <table id="datatable" class="table display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cuenta</th>
                        <th>Descripcion</th>
                        <th>Banco</th>
                        <th>Sucursal</th>
                        <th>Cuenta</th>
                        <th>Alias</th>
                        <th>CBU</th>
                        <th>Comentarios</th>
                        <% if(params.showAll===true){ %>
                        <th>Eliminada</th>
                        <% } %>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.accounts.length; i++) { %>
                    <tr data-id="<%= data.accounts[i].id %>">
                        <td><%= data.accounts[i].id %></td>
                        <td><%= data.accounts[i].accountType.account %></td>
                        <td><%= data.accounts[i].accountType.description %></td>
                        <td><% if(data.accounts[i].bank){%> <%= data.accounts[i].bank.name %> <% } %></td>
                        <td><% if(data.accounts[i].bank){%> <%= data.accounts[i].bankBranch %> <% } %></td>
                        <td><% if(data.accounts[i].bank){%> <%= data.accounts[i].accountNumber %> <% } %></td>
                        <td><% if(data.accounts[i].bank){%> <%= data.accounts[i].accountAlias %> <% } %></td>
                        <td><% if(data.accounts[i].bank){%> <%= data.accounts[i].cbu %> <% } %></td>
                        <td><%= data.accounts[i].comments %></td>
                        <% if(params.showAll===true){ %>
                        <td><%=data.accounts[i].isDeleted%></td>
                        <% } %>
                        <td><%= data.accounts[i].user.name %></td>
                        <td>
                            <% if(!data.accounts[i].isDeleted){ %>

                            <%# if((data.accounts[i].accountType.account==="CC$")||(data.accounts[i].accountType.account==="CA$")|| (data.accounts[i].accountType.account==="CCU$")||(data.accounts[i].accountType.account==="CAU$")) { %>

                            <% if(data.accounts[i].accountType.account.includes("$")){ %>
                            <a href="/accounts/edit/<%=data.accounts[i].id%>" class="btn-flat btn-small waves-effect waves-light"><i class="material-icons">edit</i></a>
                            <% } %>

                            <a id="buttonDelete" class="btn-flat btn-small waves-effect waves-light" data-id="<%=data.accounts[i].id%>" data-clientId="<%=data.client.id%>" data-account="<%=data.accounts[i].accountType.account%> (<%=data.accounts[i].accountType.description %>)" onclick="deleteDialog(this)"><i class="material-icons">delete</i></a>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="clientId" id="clientId" value=<%=data.client.id%> />
</main>

<%- include ("./modals/delete.ejs") %>
<%- include ("./modals/newAccountType.ejs") %>

<%- include ("../partials/footer") %>

<script>

    const showDeleted = htmlDecode("<%=params.showAll%>");

    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems, {})
    });

    function addNewAccountTypeDialog(button) {
        var _elem = document.getElementById('modalNewAccountType');
        var modal = M.Modal.getInstance(_elem);
        document.getElementById('modalClientId').value = button.dataset.id;
        modal.open();
    };

    function deleteDialog(button) {
        var _elem = document.getElementById('modalDelete');
        var modal = M.Modal.getInstance(_elem);
        const message = `[ID: ${button.dataset.id}] - ${button.dataset.account}`
        document.getElementById('modalDeleteMessage').textContent = message;
        document.getElementById('modalDeleteClientId').value = button.dataset.clientid;
        document.getElementById('modalDeleteAccountId').value = button.dataset.id;
        modal.open();
    };

    function showDeletedAccounts(e) {
        const swShowDeleted = document.getElementById('swShowDeleted').checked;
        const clientId = document.getElementById('clientId').value;

        const redirectUrl = `/accounts?showAll=${swShowDeleted}`;

        var form = $('<form action="' + redirectUrl + '" method="post">' +
            '<input type="hidden" name="clientId" value="' + clientId + '"></input>' +
            '</form>');

        $('body').append(form);
        $(form).submit();
    }

    $(document).ready(function () {

        $('.search-toggle').click(function () {
            if ($('.hiddensearch').css('display') == 'none')
                $('.hiddensearch').slideDown();
            else
                $('.hiddensearch').slideUp();
        });

        var table = $('#datatable').dataTable({
            dom: "<'hiddensearch'f'>tr<'table-footer'Blip'>",
            oLanguage: {
                sSearch: '',
                sSearchPlaceholder: 'Escriba aqui su búsqueda',
                sInfo: '_START_ -_END_ de _TOTAL_',
                sLengthMenu: '<span style="margin-left:20px">Filas por página:</span><select class="browser-default">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="50">50</option>' +
                    '<option value="-1">Todos</option>' +
                    '</select></div>'
            },
            columnDefs: [
                {
                    targets: -1,
                    searchable: false,
                    sortable: false,
                    className: "left-align",
                },
                {
                    className: "center-align",
                    targets: [0, 1]
                },
                {
                    targets: 8,
                    visible: true,
                    searchable: false,
                    render: $.fn.dataTable.render.ellipsis(32, true)
                },
                // {
                //     targets: "Eliminada",
                //     visible: true,
                //     searchable: false,
                //     render: $.fn.dataTable.render.moment('Do MMM YYYY')
                // },

            ],
            colReorder: true,
            fixedColumns: { leftColumns: 2 },
            pageLength: 10,
            order: [[1, 'asc']],
            autowidth: true,
            scrollY: '500px',
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Columnas',
                },
                {
                    extend: 'print',
                    className: '',
                    title: '',
                    // autoPrint: false,
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<h4>Title Test</h4>',
                            );
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit',);
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible(th:not(:last-child))',
                        search: 'applied',
                        order: 'applied'
                    },
                    customize: function (xlsx) {
                        var source = xlsx.xl['workbook.xml'].getElementsByTagName('sheet')[0];
                        source.setAttribute('name', 'Clientes');
                    }
                },
                { extend: 'csvHtml5' },
                { extend: 'copyHtml5' },
                {
                    text: 'PDF',   //https://codepen.io/vaucher/pen/wjwdMK
                    extend: 'pdfHtml5',
                    filename: 'clients',
                    orientation: 'landscape',     //portrait
                    pageSize: 'A4',               //A3 , A5 , A6 , legal , letter
                    exportOptions: {
                        columns: ':visible',
                        search: 'applied',
                        order: 'applied'
                    }
                }
            ],
            fnInitComplete: function () {
                $('#hide-dt').show();
                $('#progress').hide();
            },
        });
    });
</script>