<%- include ("../partials/header") %>

<main class="site-content">
    <div class="container" style="margin-top: 50px;">
        <form class="col s12 m6" method="post" action='/homeOwners/edit'>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Actualizar la información del propietario</span>

                    <input type="hidden" name="ownerId" id="ownerId" value="<%=data.homeOwner.id%>" />
                    <input type="hidden" name="clientId" id="clientId" value="<%=data.homeOwner.client.id%>" />
                    <input type="hidden" name="mode" id="mode" value="<%=mode%>" />

                    <div class="row" style="margin-top: 20px;">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">home</i>
                            <input id="client" name="client" type="text"
                                value="<%=data.homeOwner.client.name%> [<%=data.homeOwner.client.internalCode%>]"
                                disabled />
                            <label for="name">Nombre del Barrio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">face</i>
                            <input id="name" name="name" type="text" class="validate" <% if(mode==='update') {%>
                                disabled <% } %> value="<%=data.homeOwner.name%>" />
                            <label for="address">Nombre del Propietario</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">home_work</i>
                            <input id="property" name="property" type="text" disabled
                                value="<%=data.homeOwner.property%>" />
                            <label for="property">Unidad Funcional</label><span class="helper-text"
                                data-error="el formato de la UF es incorrecto, debe comenzar con UF">el nombre de la
                                propiedad debe ser
                                UF[xxxx] </xxxx></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons-outlined prefix">info</i>
                            <input id="cuil" name="cuil" type="text" class="validate" maxlength="13" minlength="13"
                                pattern="^(20|23|27|30|33)([0-9]{9}|-[0-9]{8}-[0-9]{1})$"
                                value="<%=data.homeOwner.cuil%>" />
                            <label for="cuit">C.U.I.T./C.U.I.L.</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons-outlined prefix">apartment</i>
                            <input id="coefficient" name="coefficient" type="text" disabled
                                value="<%=data.homeOwner.coefficient%>" />
                            <label for="coefficient">Coeficiente PH</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="material-icons prefix">mail</i>
                            <input id="email" name="email" type="email" class="validate"
                                value="<%=data.homeOwner.email%>" />
                            <label for="email">Correo Electronico</label>
                            <span class="helper-text" data-error="el formato de la dirección es inválida">correo
                                electrónico de contácto del propietario</span>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">local_phone</i>
                            <input id="phone" name="phone" type="tel" class="validate"
                                pattern="\([0-9]{2,3,4}\) [0-9]{3,4}[ -][0-9]{4}" placeholder="(Código de área) Número"
                                title="(Codigo de Area de 2 a 4 digitos) seguido de un espacio, la caracteristica de 3 o 4 digitos un espacio o guión y los 4 digitos finales"
                                value="<%=data.homeOwner.phone%>" />
                            <label for="phone">Telefono</label><span class="helper-text"
                                data-error="formato inválido">(xxx)
                                [xxxx-xxxx]</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="comments" name="comments"
                                class="materialize-textarea"><%=data.homeOwner.comments%></textarea>
                            <label for="comments">Observaciones</label>
                        </div>
                    </div>

                </div>

                <div class="card-action right-align">
                    <button type='submit' class="waves-effect waves-light btn green" style="margin-right: 10px;"><i
                            class="material-icons right">save</i>Guardar</button>
                    <a href="/homeOwners/client/<%=data.homeOwner.client.id%>"
                        class="waves-effect waves-light btn red"><i class="material-icons right">cancel</i>Cancelar</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        <center>
            <%- include ("../partials/alerts") %>
        </center>
</main>

<%- include ("../partials/footer") %>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
    });

    $(document).ready(function () {
        $('textarea#comments').characterCounter();
    });
</script>