<%- include ("../partials/header") %>

<main class="site-content">

    <center>
        <%- include ("../partials/alerts") %>
    </center>

    <div class="table-container">
        <div class="table-header">
            <span class="table-title">Listado de Propietarios y Propiedades - [<%=data.client.internalCode%>] <span style="font-weight: bold;"><%=data.client.name%></span>
            </span>
            <div class="preloader-wrapper small active" id="progress" style="margin-left: 30px;">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button id="button-reload" onClick="window.location.reload();" class="waves-effect btn-flat nopadding"><i class="material-icons">refresh</i></button>
                <a href="/homeOwners/client/<%=data.client.id%>/new" id="button-add" class="waves-effect btn-flat nopadding"><i class="material-icons">add_box</i></a>
                <a href="/homeOwners/client/<%=data.client.id%>/upload" id="button-upload" class="waves-effect btn-flat nopadding"><i class="material-icons">cloud_upload</i></a>
                <a href="#" id="button-search" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
            </div>
        </div>
        <!-- <div class="progress" id="progress" style="margin-top: 30px;">
        <div class="indeterminate"></div>
        </div> -->
        <div id="hide-dt" style="display:none">
            <table id="datatable" class="table display">
                <thead>
                    <tr>
                        <th>Propietario</th>
                        <th>Propiedad</th>
                        <th>CUIL</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Comentarios</th>
                        <th>Coeficiente PH</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.homeOwners.length; i++) { %>
                    <tr data-id="<%= data.homeOwners[i].id %>">
                        <td><%= data.homeOwners[i].name %></td>
                        <td><%= data.homeOwners[i].property %></td>
                        <td><%= data.homeOwners[i].cuil %></td>
                        <td><%= data.homeOwners[i].email %></td>
                        <td><%= data.homeOwners[i].phone %></td>
                        <td><%= data.homeOwners[i].comments %></td>
                        <td><%= data.homeOwners[i].coefficient %></td>
                        <td>
                            <a href="/homeOwners/edit/<%=data.homeOwners[i].id%>?mode=update" class="btn-flat btn-small waves-effect waves-light">
                                <i class="material-icons">edit</i></a>

                            <a href="/homeOwners/edit/<%=data.homeOwners[i].id%>?mode=transfer" class="btn-flat btn-small waves-effect waves-light">
                                <i class="material-icons">home</i></a>

                            <a href="/homeOwners/history/<%=data.homeOwners[i].id%>" class="btn-flat btn-small waves-effect waves-light">
                                <i class="material-icons">history</i></a>

                            <a id="buttonDelete" class="btn-flat btn-small waves-effect waves-light" data-id="<%=data.homeOwners[i].id%>" data-value="<%= data.homeOwners[i].name %>" data-value2="<%=data.client.id%>" onclick="deleteDialog(this)">
                                <i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

</main>

<%- include ("./modals/delete.ejs") %>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems, {})
    });

    function deleteDialog(button) {
        var _elem = document.getElementById('modalDelete');
        var modal = M.Modal.getInstance(_elem);
        const message = `[ID: ${button.dataset.id}] - ${button.dataset.value}`
        document.getElementById('modalDeleteMessage').textContent = message;
        document.getElementById('modalDeleteOwnerId').value = button.dataset.id;
        document.getElementById('modalDeleteClientId').value = button.dataset.value2;
        modal.open();
    };

    $(document).ready(function () {

        $('.search-toggle').click(function () {
            if ($('.hiddensearch').css('display') == 'none')
                $('.hiddensearch').slideDown();
            else
                $('.hiddensearch').slideUp();
        });

        var table = $('#datatable').dataTable({
            dom: "<'hiddensearch'f'>tr<'table-footer'Blip'>",
            oLanguage: {
                sSearch: '',
                sSearchPlaceholder: 'Escriba aqui su búsqueda',
                sInfo: '_START_ -_END_ de _TOTAL_',
                sLengthMenu: '<span style="margin-left:20px">Filas por página:</span><select class="browser-default">' +
                    '<option value="200">200</option>' +
                    '<option value="500">500</option>' +
                    '<option value="1000">1000</option>' +
                    '<option value="-1">Todos</option>' +
                    '</select></div>'
            },
            columnDefs: [
                {
                    targets: -1,
                    searchable: false,
                    sortable: false
                },
                {
                    className: "center-align",
                    targets: 0
                },
            ],
            colReorder: true,
            pageLength: 200,
            order: [[0, 'asc']],
            autowidth: true,
            paging: true,
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Columnas',
                },
                {
                    extend: 'print',
                    className: '',
                    title: '',
                    // autoPrint: false,
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<h4>Title Test</h4>',
                            );
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit',);
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible(th:not(:last-child))',
                        search: 'applied',
                        order: 'applied'
                    },
                    customize: function (xlsx) {
                        var source = xlsx.xl['workbook.xml'].getElementsByTagName('sheet')[0];
                        source.setAttribute('name', 'Proveedores');
                    }
                },
                { extend: 'csvHtml5' },
                { extend: 'copyHtml5' },
                {
                    text: 'PDF',   //https://codepen.io/vaucher/pen/wjwdMK
                    extend: 'pdfHtml5',
                    filename: 'proveedores',
                    orientation: 'landscape',     //portrait
                    pageSize: 'A4',               //A3 , A5 , A6 , legal , letter
                    exportOptions: {
                        columns: ':visible',
                        search: 'applied',
                        order: 'applied'
                    }
                }
            ],
            fnInitComplete: function () {
                $('#hide-dt').show();
                $('#progress').hide();
            },
        });
        table.columns.adjust().draw();
    });

</script>

<%- include ("../partials/footer") %>