<%- include ("../partials/header") %>

<main class="site-content">
    <div class="container" style="margin-top: 50px;">
        <form class="col s12" id="formEditUser" method="post" action='/users/edit' enctype="multipart/form-data"> <!--onsubmit="return validate()-->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Editar propiedades del usuario</span>
                    
                    <input type="hidden" name="userId" id="userId" value="<%=data.user.id%>" />

                    <div class="row" style="margin-top: 20px;">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">face</i>
                            <input id="name" name="name" type="text" value="<%=data.user.name%>" required/>
                            <label for="name">Nombre Completo</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">account_balance</i>
                            <%# console.log(data.user.securityLevel); console.log(locals.user.securityLevel); %>
                            <select id="privilegesSelect" required <% if (locals.user) { if(locals.user.securityLevel !== 1) { %> disabled <% } } %> >
                                <option value="1" <% if(data.user.securityLevel === 1) { %> selected <% } %> >Usuario Administrador - Nivel 1</option>
                                <option value="2" <% if(data.user.securityLevel === 2) { %> selected <% } %> >Usuario Avanzado - Nivel 2</option>
                                <option value="3" <% if(data.user.securityLevel === 3) { %> selected <% } %> >Usuario Regular - Nivel 3</option>
                            </select>
                            <label>Seleccione el nivel de privilegios</label>
                            <input type="hidden" name="securityLevel" id="securityLevel" value="<%=data.user.securityLevel%>" />
                        </div>
                    </div>
                    
                    <div class='row'>
                        <div class="col s7">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" name="email" type="text" value="<%=data.user.email%>" required />
                                <label for="email">Cuenta de correo</label>
                            </div>

                            <div class='input-field col s6'>
                                <i class="material-icons prefix">password</i>
                                <input type='password' name='password' id='password' class='validate' type='password' />
                                <label for='password'>Nueva contraseña</label>
                                <p id="passwordStrength" style="text-align:center; color:#e0e0e0; font-size:smaller"></p>
                            </div>

                            <div class='input-field col s6'>
                                <input type='password' id='passwordConfirm' class="validate" type='password' />
                                <label for='passwordConfirm'>Confirmar contraseña</label>
                                <span class="helper-text" data-error="la contraseña no coincide"></span>
                            </div>
                            
                            <div class="col s12">
                                <div class="col s10">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Firma</span>
                                                <input type="file" accept="image/png" name="attachment" id="attachment" onchange="signatureLoaded(this)">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                            <label>Imagen de la firma</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s2">
                                    <div class="switch" style="margin-top: 3px;">
                                        <label>Eliminar firma
                                            <input id="swClearSignature" type="checkbox" name="clearSignature"> <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s5">
                            <div class="row">
                                <img class="materialboxed" id="signatureImg" width="500" height="250" src='<%=data.signature%>'
                                    style=" display: flex; align-items: center; justify-content: center; border: 2px solid #dbe4ed; padding: 10px;"  >
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="card-action right-align">
                    <button id="add_button" type='submit' class="waves-effect waves-light btn green" style="margin-right: 10px;"><i class="material-icons right">save</i>Guardar</button>
                    <button action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" class="waves-effect waves-light btn red"><i class="material-icons right">cancel</i>Volver</button>
                </div>
            </div>

        </form>
    </div>
    <center>
        <%- include ("../partials/alerts") %>
    </center>
</main>

<%- include ("../partials/footer") %>

<script type="text/javascript" src="/javascripts/passwordStrength.js"></script>

<script>
    
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
 
    async function signatureLoaded(evt){
        const imgInput = document.getElementById("attachment");
        const [file] = imgInput.files
        if (file) {
            const signatureImg = document.getElementById("signatureImg");
            signatureImg.src = URL.createObjectURL(file)
        }
    }

    document.addEventListener("DOMContentLoaded", function () {

        var nScore = "";

        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});

        elems = document.querySelectorAll('.modal');
        instances = M.Modal.init(elems, {});
    
        document.getElementById('password').onkeypress = function (e) {
            nScore = runPassword(this.value, 'passwordStrength');
        }
        
        document.getElementById('privilegesSelect').onchange = async function () {
            document.getElementById('securityLevel').value = this.value;
        };

        document.getElementById("formAddUser").addEventListener("submit", function(e) {
            if(validate()===false)
                e.preventDefault();
        });

        $("#password").on("focusout", function (e) {
            if ($(this).val() != $("#passwordConfirm").val()) {
                $("#passwordConfirm").removeClass("valid").addClass("invalid");
            } else {
                $("#passwordConfirm").removeClass("invalid").addClass("valid");
            }
        });

        $("#passwordConfirm").on("keyup", function (e) {
            if ($("#password").val() != $(this).val()) {
                $(this).removeClass("valid").addClass("invalid");
            } else {
                $(this).removeClass("invalid").addClass("valid");
            }
        });

        function validate() {
            let password = document.getElementById('password');
            let passwordConfirm = document.getElementById('passwordConfirm');

            if(password.value === "") return true;    //no se solicito el cambio de password

            document.getElementById('passwordStrength').innerHTML = "";

            if (password.value != passwordConfirm.value) {
                password.value = '';
                password.classList.remove("valid");
                password.focus();
                passwordConfirm.value = '';
                passwordConfirm.classList.remove("valid");
                M.updateTextFields();
                M.toast({ html: 'Las contraseña ingresadas no coinciden, verifique que ambas sean iguales para continuar', classes: 'rounded' })
                return false;
            }

            if (nScore != 'veryStrong' && nScore != 'strong') {
                password.value = '';
                password.classList.remove("valid");
                password.focus();
                passwordConfirm.value = '';
                passwordConfirm.classList.remove("valid");
                M.updateTextFields();
                M.toast({ html: 'La contraseña ingresada no cumple con el standard de seguridad, por favor ingrese una nueva clave', classes: 'rounded' });
                return false;
            }

            return true;
        }
    });

</script>