<%- include ("../partials/header") %>

<main class="site-content">
  <div class="container" style="margin-top: 50px;">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Informacion Detallada</span>
        <div class="row" style="margin-top: 20px;">
          <div class="input-field col s12">
            <i class="material-icons prefix">home</i>
            <input id="razon_social" value="<%=data.client.name%>" type="text" class="validate" />
            <label for="razon_social">Nombre del Barrio</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <i class="material-icons prefix">info_outline</i>
            <input id="codigo" value="<%=data.client.internalCode%>" type="text" class="validate" />
            <label for="codigo">Codigo Interno</label>
          </div>
          <div class="input-field col s3">
            <input id="cuit" value="<%=data.client.cuit%>" type="text" class="validate" />
            <label for="cuit">C.U.I.T.</label>
          </div>
          <div class="input-field col s6">
            <input id="taxCategory" value="<%=data.client.taxCategory.name%>" type="text" class="validate" />
            <label for="taxCategory">Categoria Impositiva</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s9">
            <i class="material-icons prefix">mail</i>
            <input id="correo_electronico" value="<%=data.client.email%>" type="text" class="validate" />
            <label for="correo_electronico">Correo Electronico</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">local_phone</i>
            <input id="telefono" value="<%=data.client.phone%>" type="text" class="validate" />
            <label for="telefono">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
            <input id="direccion" value="<%=data.client.address%>" type="text" class="validate" />
            <label for="direccion">Direccion</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">location_city</i>
            <input id="ciudad" value="<%=data.client.city%>" type="text" class="validate" />
            <label for="ciudad">Ciudad</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">details</i>
            <input id="codigo_postal" value="<%=data.client.zipCode%>" type="text" class="validate" />
            <label for="codigo_postal">Codigo Postal</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="comments" class="materialize-textarea"><%=data.client.comments%></textarea>
            <label for="comments">Observaciones</label>
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <a href="/bankaccounts/<%=data.client.id%>" class="waves-effect waves-light btn"><i
            class="material-icons right">account_balance</i>Cuentas</a>
        <a href="/clients" class="waves-effect waves-light btn red" style="margin-left: 20px;"><i
            class="material-icons right">cancel</i>Volver</a>
      </div>
    </div>

  </div>
</main>

<%- include ("../partials/footer") %>